<html><head>
<link rel="stylesheet prefetch" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

<link rel="stylesheet" href="contents/style.css">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous">
</script>
</head>
<body>
<div id="right-block" class="col-md-8 col-md-offset-2">
<div class="user-settings">
	
	
	
	<!-- edit form column -->
	<div class="col-md-9 personal-info">
		
		<h1><legend>Personal info</legend></h1>
		
		<form class="form-horizontal" role="form">
		<div class="form-group">
			<label for="first_name" class="col-lg-3 control-label">First name:</label>
			<div class="col-lg-8">
			<input id="first_name" name="first_name" class="form-control" type="text" value="Jane">
			</div>
		</div>
		<div class="form-group">
			<label for="last_name" class="col-lg-3 control-label">Last name:</label>
			<div class="col-lg-8">
			<input id="last_name" name="last_name" class="form-control" type="text" value="Bishop">
			</div>
		</div>
		<div class="form-group">
			<label for="company" class="col-lg-3 control-label">Company:</label>
			<div class="col-lg-8">
			<input id="company"  name="company" class="form-control" type="text" value="">
			</div>
		</div>
		<div class="form-group">
			<label for="position" class="col-lg-3 control-label">Position:</label>
			<div class="col-lg-8">
			<input id="position" name="position" class="form-control" type="text" value="">
			</div>
		</div>
		<div class="form-group">
			<label for="user_email" class="col-lg-3 control-label">Email:</label>
			<div class="col-lg-8">
			<input id="user_email" name="user_email" class="form-control" type="text" value="janesemail@gmail.com">
			</div>
		</div>
		<div class="form-group">
			<label for="pass" class="col-md-3 control-label">New Password:</label>
			<div class="col-md-8">
			<input id="pass" name="pass" class="form-control" type="password" value="11111122333">
			</div>
		</div>
		<div class="form-group">
			<label for="pass_repet" class="col-md-3 control-label">Confirm password:</label>
			<div class="col-md-8">
			<input id="pass_repet" name="pass_repet" class="form-control" type="password" value="11111122333">
			</div>
		</div>

		
	
	<div class="form-group">
			<label for="profile-image" class="col-lg-3 control-label">Profile image</label>
			<div class="col-lg-8">
  <img id="profile-img" class="media-object dp img-circle" src="images/profile.png">
			<input id="profile-image" class="form-control" type="file">
			</div>
		</div>
				<div class="form-group">
			<label class="col-md-3 control-label"></label>
			<div class="col-md-8">
			<input type="button" class="btn btn-primary" value="Save Changes">
		</div>
		</div>

		<div class="panel-footer">
						<a data-original-title="Broadcast Message" data-toggle="tooltip" type="button" class="btn btn-sm btn-primary"><i class="glyphicon glyphicon-envelope"></i></a>
						<span class="pull-right">
							<a href="edit.html" data-original-title="Edit this user" data-toggle="tooltip" type="button" class="btn btn-sm btn-warning"><i class="glyphicon glyphicon-edit"></i></a>
							<a data-original-title="Remove this user" data-toggle="tooltip" type="button" class="btn btn-sm btn-danger"><i class="glyphicon glyphicon-remove"></i></a>
						</span>
					</div>
					</form>
</div>
</div>
</div>


<div class="container">
	<div class="row">
	
		
	</div>
	</div>
	



</body></html>